.title {
    -fx-font-family: 'Fredoka One';
    -fx-font-size: 60;
}

.subtitle{
    -fx-font-family: 'Fredoka One';
    -fx-font-size: 45;
}

.requestOption{

}

.requestButton{

}

.inputLabel{

}

.requestInput{

}

.plainText{

}